.Invoice-item {
  display: flex;
  padding: 20px;
  border-bottom: 1px solid #f3f3f3;
  line-height: 16px;
}

.Invoice-item:last-child {
  border: none;
}

.Invoice-item .item-name {
  flex: 35%;
  display: flex;
  align-items: center;
}

.Invoice-item .item-name .name-info {
  margin: 0 16px;
}

.Invoice-item .item-name .name-info span {
  display: block;
  font-weight: bold;
  margin: 0;
  font-size: 16px;
  line-height: 1;
}

.Invoice-item .item-name .name-info small {
  margin: 0;
  opacity: 0.8;
  font-size: 14px;
}

.Invoice-item .item-service {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  font-size: 14px;
  font-weight: bold;
  /* border-radius: 8px; */
  /* border: 1px solid #e6e6e6; */
}

.Invoice-item .item-service small {
  font-size: 12px;
  font-weight: lighter;
  margin-top: 10px;
  margin-left: 8px;
  color: #666;
}

.Invoice-item .item-amount {
  flex: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: bold;
}

.Invoice-item .item-amount small {
  font-size: 12px;
  font-weight: lighter;
  margin-top: 10px;
  margin-left: 8px;
  color: #666;
}

.Invoice-item .item-actions {
  flex: 20%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
