.drug-screen .drugs-item {
  background-color: #fbfaff;
  border-radius: 8px;
  width: 100%;
  display: flex;
  padding: 20px;
  border: 0.3px solid transparent;
  transition: 0.2s;
  justify-content: space-between;
}

.drug-screen .drugs-item .info {
  display: flex;
  align-items: center;
}

.drug-screen .drugs-item h4 {
  margin: 0;
  line-height: 1;
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 15vw;
}

.drug-screen .drugs-item .info span {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin-right: 10px;
  display: inline-table;
  box-shadow: 0px 0px 4px -2px #9e9e9e;
  margin-top: 2px;
}
/* .drug-screen .drugs-item small {
  display: block;
}

.drug-screen .drugs-item small {
  margin-top: 2px;
} */

/* .drug-screen .drugs-item .fiv-viv {
    font-size: 55px;
    margin-right: 18px;
  }
   */
