.page {
  margin-top: 128px;
  animation: fadePage .3s;
}

@keyframes fadePage {
    from{
      opacity: 0;
      transform: translateY(8px);
    }
    to{
      opacity: 1;
      transform: translateY(0px);
    }
}
