@import "file-icon-vectors/dist/file-icon-vectors.min.css";
/* @import "react-simple-keyboard/build/css/index.css"; */

@font-face {
  font-family: "Frutiger";
  src: url("../fonts/Frutiger LT Arabic 55 Roman.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Frutiger";
  src: url("../fonts/Frutiger LT Arabic 65 Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Circular";
  src: url("../fonts/CircularStd-Book.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Circular";
  src: url("../fonts/CircularStd-Bold.ttf");
  font-weight: bold;
}

* {
  font-family: "Frutiger" !important;
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
}

.brand {
  height: 240px;
  width: 70%;
  margin: auto;
  background-color: #f6f9fb;
  border-radius: 0 0 6px 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.brand img {
  margin-top: 45px;
}

.search-box {
  /* width: 340px; */
  height: 40px;
  display: flex;
  align-items: center;
}

.search-box
  :where(.css-dev-only-do-not-override-1hss4uw).ant-input-outlined:focus,
:where(.css-dev-only-do-not-override-1hss4uw).ant-input-outlined:focus-within {
  box-shadow: none;
}

.search-box .ant-input-group-addon {
  display: none;
}

.search-box .x-icon {
  border-radius: 4px;
  height: 32px;
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .2s;
}

.search-box .x-icon-active {
  background-color: #f6f6f6;
  transition: .2s;
  cursor: pointer;
}

.search-box .x-icon-active:hover{
  transform: scale(1.1);

}
.search-box .x-icon-active:active{
  opacity: 0.4;
}

.search-box input {
  height: 100%;
  width: 100%;
  padding: 4px 14px;
  outline: none;
  box-shadow: none;
  border: none;
  font-size: 18px;
}
.search-box img {
  width: 20px;
}

.user-account h4 {
  margin: 0 5px;
  display: inline-flex;
}

.side-menu {
  list-style-type: none;
  margin: auto;
  padding: 0;
  width: 70%;
  margin-top: 60px;
}

.app-info {
  position: absolute;
  bottom: 40px;
  display: block;
  width: 100%;
  text-align: center;
  color: gray;
}
.app-info a {
  color: #2c24ff;
  font-weight: bold;
}

.side-menu li {
  display: flex;
  align-items: baseline;
  font-size: 18px;
  margin-top: 12px;
  padding: 12px;
  border-radius: 4px;
  cursor: pointer;
  align-items: center;
  transition: 0.2s;
}
.side-menu li.active {
  background-color: #f6f9fb;
  color: #2c24ff;
  /* font-weight: bold; */
}
.side-menu li:hover {
  opacity: 0.6;
}
.side-menu span {
  margin: 0 8px;
}

.app-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  max-width: 1250px;
  margin: auto;
}

main {
  overflow: auto;
}

/* 
.list-footer {
  justify-content: space-between;
  align-items: center;
} */

/* .list-footer .right {
  display: flex;
  align-items: center;
}
.list-footer .right span {
  padding: 0 10px;
}
.list-footer .left {
  color: gray;
} */

/* .add-btn {
  border-color: #2c24ff;
  color: #2c24ff;
} */
/* .add-btn:hover,
.add-btn:focus {
  color: #7672f5;
  background: #fff;
  border-color: #837ffa;
} */
